/*
    ///////////////////////////////////////////////////////////////////////////////////////////////////
    ////
    //// File Name: site.css
    ////
    //// Date Created: 12/17/2016
    ////
    //// Changes:
    ////
    //// Date:          Description:
    //// ----------     ------------
    //// 12/17/2016     Initial
    //// 01/29/2017     Added resume-header, resume-table-borderless, and resume-right-aligned
    ///////////////////////////////////////////////////////////////////////////////////////////////////
*/

.body-content {
    margin-top: 70px;
}

.panel-header {
    color: #66757f;
    font-size: 18px;
    font-weight: 300;
}

.panel {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: -15px;
}

.footer {
    clear: both;
    background-color: #e7e7e7;
    padding-top: 10px;
}

.footerWrap {
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    box-sizing: content-box;
}

/* small resolution */
@media (min-width: 768px) {
    .affix {
        position: initial;
    }
}

/* medium resolution */
@media (min-width: 992px) {
    .affix {
        position: fixed;
    }
}

/* large resolution */
@media (min-width: 1200px) {

}

.resume-header
{
    text-align: center;
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #eee;
    padding-top: 70px; 
    margin-top: -70px;
}

.resume-table-borderless
{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 0;
    padding: 0;
    margin: 0;
}

.resume-right-aligned
{
    text-align: right;
    font-weight: bold;
}