/*
    ///////////////////////////////////////////////////////////////////////////////////////////////////
    ////
    //// File Name: site.css
    ////
    //// Date Created: 12/17/2016
    ////
    //// Changes:
    ////
    //// Date:          Description:
    //// ----------     ------------
    //// 12/17/2016     Initial
    //// 01/29/2017     Added resume-header, resume-table-borderless, and resume-right-aligned
    //// 02/04/2017     Added body css, changed color of panel-header to blue, removed footerWrap css, added bottom border to navbar class, 
    ////                    made affix width same as non-affix when in lg size, changed resume-header to body-header and changed color to blue,
    ////                    added bottom border inset to navbar links, made navbar links center aligned. Added ContactLink
    ///////////////////////////////////////////////////////////////////////////////////////////////////
*/

body {
    background-color: #d0d0d0;
}

.body-content {
    margin-top: 70px;
}

.panel-header {
    color: #2287ad;
    font-size: 18px;
    font-weight: 300;
}

.panel {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: -15px;
    
    box-shadow: 0px 0px 5px #000000;
}

.navbar {
    border-bottom: 1px solid #808080;
}

/* small resolution */
@media (min-width: 768px) {
    .affix {
        position: initial;
    }
}

/* medium resolution */
@media (min-width: 992px) {
    .affix {
        position: fixed;
        width: 19.2%;
    }
}

/* large resolution */
@media (min-width: 1200px) {

}

.body-header
{
    text-align: center;
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #eee;
    padding-top: 70px; 
    margin-top: -70px;
    color: #2287ad;
}

.resume-table-borderless
{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 0;
    padding: 0;
    margin: 0;
}

.resume-right-aligned
{
    text-align: right;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #2287ad;
    box-shadow: inset 0px -6px 0px #2287ad; 
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #2287ad;
    box-shadow: inset 0px -6px 0px #2287ad; 
}

.navbar .navbar-nav {
    display: inline-block;
    vertical-align: top;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.footer {
    padding-bottom: 20px;
}

.ContactLink {
    font: 100% Arial,sans-serif; 
    color: #0783B6;
}