@*
    ///////////////////////////////////////////////////////////////////////////////////////////////////
    ////
    //// File Name: ExternalLoginFailure.cshtml
    ////
    //// Date Created: 03/08/2017
    ////
    //// Changes:
    ////
    //// Date:          Description:
    //// ----------     ------------
    //// 03/08/2017     Initial
    ///////////////////////////////////////////////////////////////////////////////////////////////////
*@

@section Navigation {}

@{
    ViewBag.Title = "Login Failure";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
