@*
    ///////////////////////////////////////////////////////////////////////////////////////////////////
    ////
    //// File Name: Index.cshtml
    ////
    //// Date Created: 12/17/2016
    ////
    //// Changes:
    ////
    //// Date:          Description:
    //// ----------     ------------
    //// 12/17/2016     Initial
    ///////////////////////////////////////////////////////////////////////////////////////////////////
*@

@{
    ViewBag.Title = "Home";
}

<div class="row">
    <span class="panel-header">About me</span>
</div>

<br/>

<div class="row">
    <span class="panel-header">Blog</span>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper auctor mauris, quis maximus odio dapibus in. Nunc laoreet tincidunt nulla. Vestibulum malesuada, dolor in tempus varius, ex libero dignissim metus, id vehicula odio ipsum ultrices metus. Vivamus id dignissim diam, quis egestas dui. Nullam ullamcorper vulputate magna. Suspendisse ultrices elit felis, eu facilisis ipsum gravida sagittis. Fusce iaculis vitae velit sed euismod. Duis id aliquet sapien, sit amet malesuada velit. Sed euismod vitae tortor eu maximus. Duis eget maximus velit. Mauris cursus ipsum lacus, quis malesuada nunc iaculis sed. Sed tempor enim sit amet pellentesque porta. Interdum et malesuada fames ac ante ipsum primis in faucibus.

    Mauris iaculis lobortis velit vitae facilisis. Vestibulum nunc mi, gravida et mollis sed, viverra in urna. Curabitur pharetra varius ipsum quis tempor. Fusce scelerisque eu quam at semper. Aenean ac sollicitudin erat. Aliquam nec viverra ipsum, ac euismod massa. Suspendisse blandit odio nec massa commodo sollicitudin in ut tellus.

    In vehicula purus id lorem cursus, placerat cursus sem ultrices. Suspendisse a bibendum tortor, ac auctor risus. Vivamus commodo ut erat vel luctus. Maecenas vitae eros varius, ullamcorper tellus ac, posuere felis. Aenean imperdiet elit eu cursus lacinia. Phasellus interdum eget odio vel venenatis. Proin commodo nec ipsum a scelerisque. Quisque purus turpis, tempus id auctor nec, placerat ut ligula. Integer molestie semper augue id molestie. Morbi fermentum vestibulum diam, eget faucibus velit efficitur nec. Phasellus rhoncus id lorem sed tempor. In scelerisque nunc in velit finibus, sed sodales enim aliquet.

    Vivamus sed nisi sit amet lacus mattis aliquam. Aliquam nibh felis, tempus et mi non, porta suscipit justo. Vivamus eleifend massa non nisi facilisis porttitor. Donec at dapibus risus. Nam et viverra lectus, eget malesuada dolor. Donec elementum in tortor eu ullamcorper. Cras luctus scelerisque ante eu eleifend. Etiam ullamcorper, odio vel ultricies consectetur, quam nisl viverra nunc, dapibus ultrices enim erat eu justo. Etiam scelerisque erat quis diam lobortis posuere. Etiam hendrerit eu elit ut hendrerit. Morbi et interdum massa, in ultrices enim.

    Nulla facilisi. Maecenas mattis lectus vel iaculis hendrerit. Phasellus turpis diam, molestie ac orci eu, convallis posuere massa. Etiam vehicula elit vel risus ultrices venenatis. Donec scelerisque faucibus auctor. Ut accumsan tortor ligula, quis euismod enim mollis sed. Maecenas semper vestibulum porta. Vivamus et posuere dui, ac volutpat quam. Cras tincidunt venenatis nisi euismod congue. Cras mauris velit, tincidunt nec porta id, venenatis sit amet est. Proin non lorem vel ipsum tristique blandit at sagittis nulla. Fusce imperdiet neque est, sit amet auctor lectus ultricies non. Suspendisse potenti. Nulla hendrerit metus quis turpis varius mattis.

    Donec metus ipsum, ullamcorper sit amet risus non, dictum vulputate risus. Maecenas dictum tellus et justo porta dictum. Phasellus tempor sagittis facilisis. Nam nibh metus, elementum eu lacinia in, euismod a enim. Suspendisse fringilla euismod elit, eu tempor quam. Mauris et velit id ex euismod varius maximus et nisl. Nunc sit amet tortor hendrerit, suscipit urna viverra, gravida eros. Donec fermentum sem nec nisi interdum feugiat. Nunc condimentum magna magna, eget lobortis libero dignissim sodales. Aliquam volutpat mauris ac odio malesuada feugiat nec ut risus. Nunc cursus nunc in mauris suscipit consectetur. Praesent vulputate nunc quam, et euismod ipsum gravida eget.

    Curabitur lacinia enim erat, ut tincidunt felis mollis eget. Nam sit amet nulla tortor. Pellentesque non neque non tortor sollicitudin vulputate. Phasellus sodales maximus libero vitae facilisis. Maecenas at massa lacus. Morbi nec ipsum euismod, hendrerit mi quis, vestibulum felis. Etiam nec molestie arcu. Donec euismod condimentum lectus sit amet aliquam. Maecenas maximus ex eu elit fringilla, eget tincidunt lectus pharetra. Cras tincidunt neque accumsan, varius augue non, ultricies nunc. In facilisis, sem vitae luctus maximus, mi ligula gravida justo, sed ullamcorper erat felis vel sapien. In hac habitasse platea dictumst. Morbi condimentum auctor erat sit amet mattis. Maecenas id mi sapien. Cras nec orci in libero egestas fringilla at quis dui. Quisque efficitur viverra pharetra.

    Proin varius, tellus ac egestas eleifend, mauris velit rutrum libero, id laoreet justo metus a lorem. Praesent aliquet, metus nec fermentum cursus, lectus turpis dapibus tortor, ut molestie urna nibh in arcu. Maecenas eu vulputate nibh. Fusce eu tristique nisl. Suspendisse potenti. Pellentesque sodales diam quis sapien efficitur, eu ultricies dui pretium. Vestibulum vulputate, nisl a congue facilisis, mi quam fermentum eros, sit amet sagittis ex elit nec dolor. Sed vitae accumsan nisl. Sed ipsum leo, suscipit ac tellus eget, egestas tristique purus.

    Morbi bibendum ex lectus, et pellentesque lorem faucibus ac. Sed nunc nisl, pharetra posuere malesuada sit amet, cursus ut risus. Donec at odio mi. Nullam rhoncus venenatis sem vitae mattis. Etiam in porta felis. Praesent ac malesuada nibh, vitae mattis arcu. Ut ullamcorper pulvinar aliquet. Donec elit purus, pellentesque nec purus vitae, elementum iaculis nulla. Proin fermentum, velit quis suscipit ornare, mauris elit suscipit tellus, nec egestas erat est sollicitudin lorem.

    Nam rhoncus sodales orci, at venenatis nunc luctus eget. Aliquam tempor erat et ante vehicula ultricies. Curabitur at diam non augue semper semper. Nulla viverra pharetra magna in hendrerit. Donec lobortis vitae arcu id tempus. Proin fermentum tincidunt ante vel elementum. Duis in elit id ipsum aliquam lacinia quis non sem. Quisque tincidunt metus nec justo mollis, eget tincidunt massa ultrices. Vivamus ullamcorper, purus a varius rhoncus, ex urna consequat risus, eget dignissim tellus arcu et felis.
</div>