@*
    ///////////////////////////////////////////////////////////////////////////////////////////////////
    ////
    //// File Name: Index.cshtml
    ////
    //// Date Created: 12/17/2016
    ////
    //// Changes:
    ////
    //// Date:          Description:
    //// ----------     ------------
    //// 12/17/2016     Initial
    //// 02/04/2017     Changed panel-header to body-header
    //// 02/05/2017     Removed placeholder lorem ipsum text, added initial blog code
    ///////////////////////////////////////////////////////////////////////////////////////////////////
*@

@{
    ViewBag.Title = "Home";
}

<div class="row">
    <h4 class="body-header">About me</h4>
</div>

<br/>

<div class="row">
    <h4 class="body-header">Blog</h4>

    <div>
        <span style="color:red;">No blog entries! Please check back soon!</span>
        <dl class="dl-horizontal"></dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="display:none;">
        <h4>BlogModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}