@*
    ///////////////////////////////////////////////////////////////////////////////////////////////////
    ////
    //// File Name: Projects.cshtml
    ////
    //// Date Created: 12/17/2016
    ////
    //// Changes:
    ////
    //// Date:          Description:
    //// ----------     ------------
    //// 12/17/2016     Initial
    ///////////////////////////////////////////////////////////////////////////////////////////////////
*@

@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

