@*
    ///////////////////////////////////////////////////////////////////////////////////////////////////
    ////
    //// File Name: Resume.cshtml
    ////
    //// Date Created: 12/17/2016
    ////
    //// Changes:
    ////
    //// Date:          Description:
    //// ----------     ------------
    //// 12/17/2016     Initial
    ///////////////////////////////////////////////////////////////////////////////////////////////////
*@

@{
    ViewBag.Title = "Resume";
}

<h2>Resume</h2>

