@*
    ///////////////////////////////////////////////////////////////////////////////////////////////////
    ////
    //// File Name: Resume.cshtml
    ////
    //// Date Created: 12/17/2016
    ////
    //// Changes:
    ////
    //// Date:          Description:
    //// ----------     ------------
    //// 12/17/2016     Initial
    //// 01/29/2017     Added content
    //// 02/04/2017     Fixed nested list items, unallcaps resume headers, changed resume-header css to body-header
    //// 02/07/2017     Added initial navigation section
    ///////////////////////////////////////////////////////////////////////////////////////////////////
*@

@{
    ViewBag.Title = "Resume";
}

@section Navigation {
    <div class="panel panel-default">
        <div class="panel-body">
            TEST
        </div>
    </div>
}

<!-- EDUCATION -->
    
<h4 class="body-header" id="Education">Education</h4>

<b>University of Central Florida</b>
<br />
<i>Bachelor's of Science in Computer Science </i> - GPA: 3.2 - Graduated December 2015
<br />
<i>Minor in Mathematics</i>
<br />

<!-- RELEVANT COURSEWORK -->

<br />
<h4 class="body-header" id="RelevantCoursework">Relevant Coursework</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align: center">
                Course Title
            </th>
            <th style="text-align: center">
                Languages/Tools Learned
            </th>
            <th style="text-align: center">
                Notes
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Introduction to C Programming</td>
            <td>C</td>
            <td>Introduction to python, C and memory management</td>
        </tr>
        <tr>
            <td>Computer Science 1</td>
            <td>C</td>
            <td>Memory management and data structures course</td>
        </tr>
        <tr>
            <td>Discrete Structures 1</td>
            <td>N/A</td>
            <td>Basics in mathematical structures and logic</td>
        </tr>
        <tr>
            <td>Object Oriented Programming</td>
            <td>Java</td>
            <td>Intro to Java and OOP</td>
        </tr>
        <tr>
            <td>Computer Science 2</td>
            <td>Java</td>
            <td>Algorithms</td>
        </tr>
        <tr>
            <td>.NET Software Development</td>
            <td>C#, ASP.NET and MS SQL</td>
            <td>Intro to n-tier architecture with .NET</td>
        </tr>
        <tr>
            <td>Enterprise Computing</td>
            <td>Java, HTML, CSS, JavaScript and MySQL</td>
            <td>Intro to n-tier architecture with Java</td>
        </tr>
        <tr>
            <td>OOP Software Development</td>
            <td>C#, MS SQL</td>
            <td>Intro to Software Engineering practices and project based course</td>
        </tr>
        <tr>
            <td>Computer Organization and Logic</td>
            <td>MIPS</td>
            <td>Introduction to computer hardware (CPU and memory), circuits, logic design, caching and CPU logic</td>
        </tr>
        <tr>
            <td>Computer Architecture</td>
            <td>MIPS and x86</td>
            <td>CPU and memory design, performance and logic topics</td>
        </tr>
        <tr>
            <td>Discrete Structures 2</td>
            <td>N/A</td>
            <td>Advanced mathematical structures and logic, basics in compiler and language processing.</td>
        </tr>
        <tr>
            <td>System Software</td>
            <td>C</td>
            <td>Intro to operating systems, low level application development and compilers</td>
        </tr>
        <tr>
            <td>Software Engineering (Graduate level)</td>
            <td>HTML, CSS and JavaScript</td>
            <td>Software Engineering best practices and project based course</td>
        </tr>
        <tr>
            <td>Operating Systems</td>
            <td>C, x86, linux (ubuntu)</td>
            <td>Intro to operating systems (linux/ubuntu) and scripting</td>
        </tr>
        <tr>
            <td>Senior Design 1</td>
            <td>Unity, C#, SQL, Visio, 3ds Max, Photoshop</td>
            <td>Capstone project course with advanced topics in Software Engineering, Computer Science, and software business practices</td>
        </tr>
        <tr>
            <td>Senior Design 2</td>
            <td>Unity, C#, SQL, Visio, 3ds Max, Photoshop</td>
            <td>Capstone project course with advanced topics in Software Engineering, Computer Science, and software business practices</td>
        </tr>
    </tbody>
</table>

<!-- LANGUAGES AND TECHNOLGIES -->

<h4 class="body-header" id="LanguagesAndTechnologies">Languages and Technologies</h4>
<b>Languages (in no particular order):</b> C#, Java, C, ASP.NET, MS SQL, HTML, CSS, JavaScript, XML
<br />
<b>Tools (in no particular order):</b> Visual Studio 2012 - 2015, SQL Server Management Studio 2008 - 2014, AccuRev and GitHub (version control), Code Collaborator (Code Review software),
Windows Command Prompt, Windows Power Shell, Microsoft Office 2007 - 2016 (word, excel, powerpoint, visio), Unity3D 5, 3ds Max 2016, AutoCAD 2013/2016
<br />
<b>Operating Systems:</b> Windows 7, 8, 10 and Linux (Ubuntu)
<br />

<!-- WORK EXPERIENCE -->

<br />
<h4 class="body-header" id="WorkExperience">Work Experience</h4>

<table class="resume-table-borderless">
    <tr>
        <td><b>Lockheed Martin</b></td>
        <td  class="resume-right-aligned">Orlando, FL</td>
    </tr>
    <tr>
        <td><i>Software Developer Associate</i></td>
        <td class="resume-right-aligned">January 2016 to Present</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>
                    Completed development of the initial release of the web portal interface project started in Summer Internship.
                    <ul>
                        <li>Completed 60+ requirements and managed the database which has 80+ tables, 300+ stored procedures, and 8+ views.</li>
                        <li>Developed a Windows Service designed to keep the web portal and AccuRev repository synced.</li>
                        <li>Trained and supervised an intern tasked with 8 requirements to increase UX throughout the web portal.</li>
                        <li>Passed User Acceptance Testing and successfully deployed web portal to production on an internal IIS server.</li>
                    </ul>
                </li>
                <li>
                    Completed development of a proof of concept, Unity3D and HoloLens project, aimed at increasing the productivity of the logistical workforce.
                    <ul>
                        <li>Used Unity3D and C# to develop scripts for the project.</li>
                        <li>Used GIMP and Blender to build the UI and models.</li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><i>Software Developer Intern (Part-Time)</i></td>
        <td class="resume-right-aligned">August 2015 to December 2015</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>
                    Continued development of the web portal interface project from Summer Internship with a focus on the front-end.
                    <ul>
                        <li>Overhauled UI using Bootstrap 3.</li>
                        <li>Completed 9 requirements which mostly involved developing management forms and increasing UX of the web portal.</li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><i>Software Developer Intern</i></td>
        <td class="resume-right-aligned">May 2015 to July 2015</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>
                    Development of a web portal interface for user submission and visualization of a logistics system’s issues to the software development team’s AccuRev version control repository.
                    <ul>
                        <li>Used C#, ASP.NET and SQL to develop a web portal to interface to AccuRev using XML and the Command Line Interface.</li>
                        <li>Met aggressive task schedule faster than expected (Completed 16 requirements when 10 was expected).</li>
                        <li>Participated in the software development life cycle through requirements analysis and design, participating in code reviews, weekly team meetings, and utilizing AccuRev for version control management.</li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><b>University of Central Florida</b></td>
        <td class="resume-right-aligned"><b>Orlando, FL</b></td>
    </tr>
    <tr>
        <td><i>Teaching Assistant</i></td>
        <td class="resume-right-aligned"><b>January 2015 to July 2015</b></td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>Instructed recitations for the CS section of the Summer Institute at UCF, a high school summer program. (Java)</li>
                <li>Instructed recitations and graded coursework for Computer Science 1. (C Language)</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><i>Supplemental Instruction Leader</i></td>
        <td class="resume-right-aligned">August 2014 to April 2015</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>Instructed recitations that assisted students with the courses: OOP (Java) and Intro to Programming with C.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><b>American Eagle Outfitters</b></td>
        <td class="resume-right-aligned">Orlando, FL</td>
    </tr>
    <tr>
        <td><i>Floorset Associate</i></td>
        <td class="resume-right-aligned">October 2013 to April 2015</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>Cleaned and stocked retail floor with merchandise to management specifications and design.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><b>Devlen Engineering, Inc.</b></td>
        <td class="resume-right-aligned">Lake Mary, FL</td>
    </tr>
    <tr>
        <td><i>AutoCAD Technician Intern</i></td>
        <td class="resume-right-aligned">September 2012 to August 2013</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>Created CAD structural building documents to Structure Engineers specifications.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><b>Habitat for Humanity</b></td>
        <td class="resume-right-aligned">Sanford, FL</td>
    </tr>
    <tr>
        <td><i>Administrative Assistant</i></td>
        <td class="resume-right-aligned">July 2010 to September 2012</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>Provided basic IT and office support.</li>
                <li>Managed Social Media accounts and online customer service.</li>
                <li>Assisted in retail delivery and customer service.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><b>Harvest Time International</b></td>
        <td class="resume-right-aligned">Sanford, FL</td>
    </tr>
    <tr>
        <td><i>Distribution Assistant</i></td>
        <td class="resume-right-aligned">October 2009 to December 2009</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>Took inventory and built inventory documents.</li>
                <li>Assited in leading volunteers.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><i>Administrative Assistant </i></td>
        <td class="resume-right-aligned">May 2009 to August 2009</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>Assisted in customer service and office support.</li>
            </ul>
        </td>
    </tr>
</table>

<!-- VOLUNTEER EXPERIENCE -->

<h4 class="body-header" id="VolunteerExperience">Volunteer Experience</h4>
<table class="resume-table-borderless">
    <tr>
        <td><b>North Branch Library </b></td>
        <td class="resume-right-aligned">Sanford, FL</td>
    </tr>
    <tr>
        <td><i>Volunteer</i></td>
        <td class="resume-right-aligned">May 2008 to August 2008</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>Sorted and cleaned library.</li>
                <li>Assisted in creating projects for kids.</li>
            </ul>
        </td>
    </tr>
</table>

<!-- PROJECTS -->

<h4 class="body-header" id="Projects">Projects</h4>

<table class="resume-table-borderless">
    <tr>
        <td><b>Personal Blog Website</b> - <small>Solo personal project</small></td>
        <td class="resume-right-aligned">November 2016 - Present</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>C#, ASP.NET MVC and SQL personal blogging website.</li>
                <li>Uses Bootstrap 3 for the UI framework.</li>
                <li><a href="#">View More...</a> or just look around!</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><b>Chemical Safety Simulation Game</b> - <small>3 person Senior Design Project</small></td>
        <td class="resume-right-aligned">January 2015 to December 2015</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>3D video game made using Unity3D, C#, ASP.NET and SQL.</li>
                <li>Acted as the team leader and worked on content design and planning using Microsoft Visio and 3ds Max.</li>
                <li>Developed the SQL database, ASP.NET/C# web portal, and some C# scripting.</li>
                <li><a href="#">View More...</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><b>College Event Website</b> - <small>3 person College Project</small></td>
        <td class="resume-right-aligned">August 2015 to December 2015</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>An ASP.NET and C# website with a SQL database that is meant to allow users to host and attend events in their college.</li>
                <li>Worked on the front-end using ASP.NET, HTML and CSS. Utilized Bootstrap 3.</li>
                <li><a href="#">View More...</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><b>UCF Express Ride</b> - <small>5 person College Project</small></td>
        <td class="resume-right-aligned">August 2014 to December 2014</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>Carpooling web application developed using HTML, CSS, JavaScript and PHP.</li>
                <li>Worked on the front-end using HTML, CSS and JavaScript. Utilized Bootstrap 3 and the Google Maps Javascript v3 API.</li>
                <li><a href="#">View More...</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><b>SmartCal</b> - <small>5 person College Project</small></td>
        <td class="resume-right-aligned">January 2015 to December 2015</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>Winforms calendar made using C# and SQL.</li>
                <li>Worked on C# data access layer of the application.</li>
                <li><a href="#">View More...</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><b>PL/0 Compiler</b> - <small>Solo College Project</small></td>
        <td class="resume-right-aligned">January 2014 to May 2014</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>A small compiler for PL/0, written in the C language.</li>
                <li><a href="#">View More...</a></li>
            </ul>
        </td>
    </tr>
</table>

<!-- CAMPUS INVOLVEMENT SECTION -->

<h4 class="body-header" id="CampusInvolvement">Campus Involvement</h4>

<table class="resume-table-borderless">
    <tr>
        <td colspan="2"><b>Association for Computing Machinery (ACM)</b></td>
    </tr>
    <tr>
        <td><i>Public Relations Officer</i></td>
        <td class="resume-right-aligned">May 2015 to August 2015</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>Managed Social Media accounts</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><i>Historian</i></td>
        <td class="resume-right-aligned">May 2014 to May 2015</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>Created flyers and other publications using photoshop.</li>
                <li>Documented events via photography.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><i>Member</i></td>
        <td class="resume-right-aligned">May 2013 to December 2015</td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>Attending meetings, assisted in event setup.</li>
            </ul>
        </td>
    </tr>
</table>

<!-- HOBBIES SECTION -->

<h4 class="body-header" id="Hobbies">Hobbies</h4>

<ul>
    <li>Video gaming (PS4 / PC)</li>
    <li>Woodworking (making tables / furniture)</li>
    <li>Gym (bodybuilding / cardio)</li>
    <li>Long distance running</li>
</ul>