@*
    ///////////////////////////////////////////////////////////////////////////////////////////////////
    ////
    //// File Name: Error.cshtml
    ////
    //// Date Created: 03/08/2017
    ////
    //// Changes:
    ////
    //// Date:          Description:
    //// ----------     ------------
    //// 03/08/2017     Initial
    ///////////////////////////////////////////////////////////////////////////////////////////////////
*@

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

