@model Website.Models.BlogModel

@*
    ///////////////////////////////////////////////////////////////////////////////////////////////////
    ////
    //// File Name: Blog.cshtml
    ////
    //// Date Created: 12/17/2016
    ////
    //// Changes:
    ////
    //// Date:          Description:
    //// ----------     ------------
    //// 12/17/2016     Initial
    ///////////////////////////////////////////////////////////////////////////////////////////////////
*@

@{
    ViewBag.Title = "Blog";
}

<h2>Blog</h2>

<div>
    <h4>BlogModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
